.schema-creator {
  border: 1px solid #777;
  border-radius: 5px;
}

.schema-creator .field-row{
  display: flex;
  flex-flow: row wrap;
  margin-bottom: 20px;
}


.schema-creator .field-row input, .schema-creator .field-row select {
  margin-left: 20px;
  margin-right: 20px;
}